* {
  box-sizing: border-box;
  transition: all 0.3 ease-in-out;
}

img{
  margin: 0;
  padding: 0;
}

body, html{
  margin: 0;
  padding: 0;
}

main#principal {
  background-color: rgb(234, 200, 200);
  display: grid;
  height: 100vh;
  padding: 8px;
  place-items: center;
  width: 100vw;
}

 #principal #padre{
  max-height: 600px;
  max-width: 400px;
  min-height: 40vh;
  min-width: 200px;
  background-color: rgb(190, 140, 140);
  box-shadow: 0 5px 15px rgba(0,0,0,0.45);
  border-radius: 8px;
  display: grid;
  padding: 20px;
 }
  

/*-------------------------objetos -------------------------- */
a {
  outline: none;
  text-decoration: none;
}
  a:link {
    color: #ffd92e;
  }
  a:visited {
    color: #ffffff;
  }
  a:focus {
    border-bottom: 1px solid;
  }
  a:hover{
    color: rgb(190, 136, 136);
  }

/*---------------------Clases-------------------------*/
.vinculos{
  background-color: rgb(132, 60, 60);
  border-radius: 7px;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 20px;
  padding: 5px;
  text-align: center;
  height: 45px;
}