<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer programa web-sito</title>
    <link rel="stylesheet" href="/static/principal.css">
</head>
<body>
    <main id="principal"> 
        <div id="padre">
            <div id="carro" class="vinculos">
                <a href="{{url_for('carritos')}}">Gestión de carritos</a>
            </div>

            <div id="cliente" class="vinculos">
                <a href="{{url_for('clientes')}}">Gestión de clientes</a>
            </div>

            <div id="renta" class="vinculos">
                <a href="{{url_for('rentas')}}">Gestión de rentas</a>
            </div>
        </div>
    </main>
</body>
</html>